extends layout

block content
  .container.mt-5
    h1 Error Page
    .alert.alert-danger(role='alert')
      if message
        | #{message}
      else
        | An unexpected error occurred.
    a.btn.btn-primary(href='/') Home
